extends ./layout/index

block contenido
              main.container.mt-5 
                .row 
                        .col-md-5
                                img(class="img-fluid", src="img/nosotros.jpg", alt="nosotros")
                        .col-md-7
                           h1= pagina 
                           blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus quisquam odit mollitia dolorem porro, cum fugit hic cupiditate quasi exercitationem inventore temporibus omnis, perferendis reprehenderit, assumenda harum itaque. Provident, atque!
                           p Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit commodi veritatis nobis fuga obcaecati delectus laboriosam rerum voluptates, reiciendis debitis distinctio odio sunt mollitia pariatur rem recusandae aspernatur ullam alias.
                           p Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit commodi veritatis nobis fuga obcaecati delectus laboriosam rerum voluptates, reiciendis debitis distinctio odio sunt mollitia pariatur rem recusandae aspernatur ullam alias.

                .listado-iconos 
                         .container.mt-5.py-5.text-center 
                                 .row 
                                        .col-md-4
                                                img(class="img-fluid mb-4", src="img/icono_seguridad.svg", alt="icono")
                                                h2.mb-4 Seguridad
                                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit commodi veritatis nobis fuga obcaecati delectus laboriosam rerum voluptates, reiciendis debitis distinctio 
                                        .col-md-4
                                                img(class="img-fluid mb-4", src="img/icono_destinos.svg", alt="icono")
                                                h2.mb-4 Destinos
                                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit commodi veritatis nobis fuga obcaecati delectus laboriosam rerum voluptates, reiciendis debitis distinctio 
                                        .col-md-4
                                                img(class="img-fluid mb-4", src="img/icono_precio.svg", alt="icono")
                                                h2.mb-4 Precios
                                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit commodi veritatis nobis fuga obcaecati delectus laboriosam rerum voluptates, reiciendis debitis distinctio 
