extends ./layout/index

block contenido
       main.container.mt-5 
                h1.text-center.mt-5 #{ pagina }

                blockquote.text-center Comentarios 
                include ./layout/bloque_testimoniales
                .row 
                        .col-md-12
                                h2.d-block.w-100.text-center Agregar Comentario
                                if(errores)
                                        each error in errores
                                                .alert.col.alert-danger.text-center= error.mensaje
                     
                        .row.justify-content-center.col 
                                .col-md-8 
                                        form(action="/testimoniales" method="POST") 
                                                .form-group 
                                                        label(for="nombre") Nombre
                                                        input#nombre(class="form-control" type="text", name="nombre", value= nombre)
                                                .form-group 
                                                        label(for="email") Email
                                                        input#email(class="form-control" type="text", name="email", value= email)
                                                .form-group 
                                                        label(for="mensajel") Mensaje
                                                        textarea#mensaje(class="form-control", name="mensaje", cols="30", rows="10")= mensaje
                                                input.btn.btn-success.btn-block(type="submit")